.navbar{
    background-color: rgba(0, 0, 0, 0.7);
    color: red;
}
.menu_item{
    color: #FFD700;
}
.item_jogos{
    border-bottom: 1px solid yellow;
}
.language-select { text-align: center; position: relative; z-index: 9999; top: 0px; margin-bottom: 60px; }